/* navbar */
.navbar-static-top {
  min-height: 80px;
}

.navbar-default {
  background-color: #fff;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
}

.navbar-header {
  min-height: 80px;
}

.navbar-brand {
  margin-top: 18px;
}

.navbar-toggle {
  margin-top: 25px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-wrapper > nav {
  margin-bottom: 0;
}

/* carousel */
.carousel {
    height: 500px;
    margin-bottom: 30px;
}

.carousel > .carousel-inner > .item > img {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); 
}

/* since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: 30px;
}

.carousel-caption > p {
  font-size: 20pt;
  text-align: left;
}

.carousel-caption > h1 {
  text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: -25%;
    left: 0;
    min-width: 100%;
}

/* an uguly way to make the carousel responsive */
@media (max-width: 870px) {
  .carousel, .carousel .item {
    height: 460px;
  }
  .carousel-inner > .item > img { 
    top: 0;
  }
}

@media (max-width: 670px) {
  .carousel, .carousel .item {
    height: 420px;
  }
  .carousel-inner > .item > img { 
    top: 0;
  }
}

@media (max-width: 610px) {
  .carousel, .carousel .item {
    height: 350px;
  }
  .carousel-inner > .item > img { 
    top: 0;
  }
}

@media (max-width: 510px) {
  .carousel, .carousel .item {
    height: 300px;
  }
  .carousel-inner > .item > img { 
    top: 0;
  }
  .carousel-caption > h1 {
    font-size: 30px;
  }
  .carousel-caption > p {
    font-size: 15pt;
  }
}

@media (max-width: 436px) {
  .carousel, .carousel .item {
    height: 220px;
  }
  .carousel-inner > .item > img { 
    top: 0;
  }
}

@media (max-width: 323px) {
  .carousel, .carousel .item {
    height: 220px;
  }
  .carousel-inner > .item > img {
    top: 0;
  }
}

/* body */
body {
  padding-bottom: 30px;
  color: #5a5a5a;
}

.container > .row > .col-lg-4 > .glyphicon {
  font-size: 140px;
}

/* what-is */
.what-is .col-lg-4 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.what-is h2 {
  font-weight: normal;
}

.what-is .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* featurette */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.footer {
  margin-top: -40px;
}

.footer > .row > .col-sm-2,
.footer > .row > .col-sm-4 {
  margin-bottom: 30px;
}

/* flags */
.icon-flags {
  position: relative;
  top: 0;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  float: left;
  display: block; /* This is required */
}

.icon-flags.size-normal {
  width: 20px;
  height: 20px;
}

.icon-flags.taiwan {
  background: url(../assets/images/flags/taiwan.png);
  background-size: cover;
}

.icon-flags.japan {
  background: url(../assets/images/flags/japan.png);
  background-size: cover;
}

.icon-flags.south-korea {
  background: url(../assets/images/flags/south-korea.png);
  background-size: cover;
}

.icon-flags.vietnam {
  background: url(../assets/images/flags/vietnam.png);
  background-size: cover;
}

.icon-flags.united-kingdom {
  background: url(../assets/images/flags/united-kingdom.png);
  background-size: cover;
}

